* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a,
span {
  display: inline-block;
}
a {
  text-decoration: none;
  color: #272727;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #2c3e50;
}
.menu_container,form {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
